@using System.Collections.Generic;
@using System.Linq;
@using EducationSystem.DataAccess.Models;
@model IEnumerable<Course>

@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div class="leftColumn">
        <h3>List by Program</h3>
        @if (ViewBag.AllPrograms == null || ViewBag.AllPrograms.Length == 0)
        {
            <span>There is no program.</span>

        }
        else
        {
            <ul>
                @foreach (EducationSystem.DataAccess.Models.Program program in ViewBag.AllPrograms)
                {
                    @*<p>@program.ProgramName</p>*@
                    <a asp-controller="Home" asp-action="List" asp-route-_program_id="@program.ProgramId">
                        @program.ProgramName
                    </a>
                }
            </ul>
        }
    </div>
    <div class="rightColumn">
        @if (Model == null || Model.Count() == 0)
    {
        <h3>There is no related subject</h3>
}
else
{

     <h1>VALAMI</h1>
    <form asp-action="List" method="get">
        <p>
            <label for="teacherName">Teacher name:</label>
            <input type="text" name="teacherName" value="@ViewData["teacherFilter"]" />

            <label for="subjectName">Subject name:</label>
            <input type="text" name="subjectName" value="@ViewData["subjecFilter"]" />

            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </form>
    <br>
    @foreach (Course course in Model)
{
    <strong>name = </strong>@course.Subject.SubjectName<br />
    <strong>coursecode = </strong>@course.CourseCode<br />
    <strong>teacher = </strong>@course.TeacherId<br />
    <strong>start date = </strong>@course.StartTime<br />
    <br>
}
}
    </div>






</div>